body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}
.splash-page {
    margin-left: 20px;
    margin-right: 20px;
}
.projects {
    margin-left: 20px;
    margin-right: 20px;
}

.contact {
    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.nav-right {
    display: flex;
    flex-direction: row;
    /* width: 500px; */
    gap: 10px;
    /* background-color: #df4a4a; */
    /* overflow: hidden; */
    text-overflow: ellipsis; 

}


/* Logo */
.logo {
    display: flex;
    justify-content: flex-start;
}
  
  /* For the aesthetics */

.nav-button {
    text-align: center;
    cursor: pointer;
    outline: none;
    /* margin: 0.5em; */
    border: none;
    /* height: 3.2em; */
    line-height: 3.0em;
    /* width: 6.3em; */
    /* font-size: 0.9em; */
    font-weight: 500;
    border-radius: 20px;
  }

.nav-button:hover {
    /* background-color: #df4a4a;
    color: white; */
    /* border: black; */
    /* border:auto; */
    border-bottom: 3px black;
    outline: 3px solid black;
}

.headline {
    margin-top: 100px;
}

.arrow-button {
    display: flex;
    outline:none;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.projects {
    display: flex;
    flex-direction: row;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
}

.proj-col {
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 400px;
    width: 300px;
}

.project-img {
    display: block;
    max-width: 100%;
    max-height: 65%;
    margin-top: 10px;
    /* margin-left: 10px; */
    /* border-radius: 5%; */
}

.proj-name {
    /* border-radius: 15%; */
    background-color: #E4E4E4;
    /* height: 3em; */
    text-align: left;
    padding: 10px 0;
    text-indent: 3mm;
    /* border: 3px solid green; */
}

.contact-info {

}
